.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main section{
    display: flex;
    gap: 40px;
}
.main section div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button{
    justify-content: flex-end;
}
.main img{
    object-fit: cover;
}